.bar-layer {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  background-color: coral;

  .sound {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .remove-layer {
      cursor: pointer;
    }
  }

  .beats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 50px;
  }
}

.bar-layer-beat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  box-sizing: border-box;
  border: 1px solid black;
  cursor: pointer;

  .beat-number {
    font-family: helvetica;
    font-weight: 500;
  }

  &.trigger {
    background-color: skyblue;
  }

  &.no-trigger {
    background-color: white;
  }

}

.play-button, .stop-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  cursor: pointer;
  background-color: mistyrose;
}

.beats-per-minute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  cursor: pointer;
  background-color: dodgerblue;
}
